{% extends 'base.html' %}

{% block cuerpo %}
	<div class="jumbotron">
		<div class="container">
			<h1>Preference List</h1>
		</div>
	</div>

	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<tr class="active">
					<td> Title</th>
			    	<th> Quantity </th>
			    	<th> Unit_price </th>
			    	<th> Currency_id </th>
			    	<th> Init_point </th>
			    	<th> Sandbox_init_point </th>
			    	<th> Notification_url </th>
			    	<th> External_reference </th>
			    	<th> Email </th>

				</tr>
			{% for preference in prefence_list %}
				<tr>
			    	<td>{{ preference.title }}</td>
			    	<td>{{ preference.quantity }}</td>
			    	<td>{{ preference.unit_price }}</td>
			    	<td>{{ preference.currency_id }}</td>
			    	<td><a class="btn btn-success btn-lg" href="{{ preference.init_point }}" role="button">Pagar</a></td>
			    	<td><a class="btn btn-primary btn-lg" href="{{ preference.sandbox_init_point }}" role="button">Pagar</a></td>
			    	<td>{{ preference.notification_url }}</td>
			    	<td>{{ preference.external_reference }}</td>
			    	<td>{{ preference.email }}</td>
			    </tr>

			{% empty %}
			    <li>No Notification yet.</li>
			{% endfor %}
			</table>
		</div>

	<hr>

	<footer>
	  <p>&copy; Company 2014</p>
	</footer>
	</div> <!-- /container -->


{% endblock %}