{% extends 'base.html' %}

{% block cuerpo %}
<div class="jumbotron">
	<div class="container">
		<h1>Result</h1>
	</div>
</div>
<h2>{{result.response.id}}</h2>
    <p>Message : {{message}}</p>
    <p>Status : {{result.response.status}}</p>
    <p>Transaction amount : {{result.response.transaction_amount}}</p>
    <p>Total paid amount : {{result.response.transaction_details.total_paid_amount}}</p>
    <p>Installment amount : {{result.response.transaction_details.installment_amount}}</p>



{% endblock %}

